<% if @cart.present? && @cart.line_items.present? %>
  <% @cart.line_items.each do |line_item| %>
    <div class="cart-products" id="cart-<%= line_item.id %>">
      <div class="cart-image">
        <a href="#">
          <%= image_tag image_tag_cart(line_item), class: "image-cart" %>
        </a>
      </div>
      <div class="cart-product-info">
        <a href="#" class="product-name"> <%= line_item.product.name %></a>
        <%= link_to "", line_item_path(line_item.id), method: :delete, class: "remove-product", remote: true %>
        <div class="price-times">
          <span class="quantity"><strong> <%= line_item.quantity %></strong> x </span>
          <span class="p-price"><%= number_to_currency(line_item.product.price) %></span>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  No item
<% end %>
